@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Regular.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "PT Sans";
  src: url("assets/fonts/PTSans-Regular.ttf");
}
:root {
  --olive-green: #6fd36f;
  --olive-white: #ffffff;
  --main-bg: #2c2c2c;
  --main-fg: #f4f4f4;
  --secondary-fg: #8f8f8f;
  --display-font: "Raleway";
  --body-font: "PT Sans";
  --shadow:
  	0 0 #0000, 0 0 #0000,
  	0 0 #0000, 0 0 #0000,
  	0 20px 25px -5px rgb(0 0 0/0.1),
  	0 8px 10px -6px rgb(0 0 0/0.1);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  color: var(--main-fg);
  font-family: var(--body-font);
}

h2, a {
  display: inline;
}

h2 {
  font-family: var(--display-font);
}

a {
  text-decoration: none;
  color: var(--main-fg);
  font-weight: 600;
}

main {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
}
main section {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
}
main section p {
  line-height: 2em;
}

footer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: var(--secondary-fg);
}
footer #top-footer {
  background-image: linear-gradient(0deg, #212121, var(--main-bg));
  width: 100%;
  height: 100px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
}
footer nav {
  display: flex;
  justify-content: space-around;
  gap: 4px;
}
@media screen and (max-width: 458px) {
  footer nav {
    flex-direction: column;
    align-items: center;
  }
}
footer nav a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--secondary-fg);
  font-weight: lighter;
}
footer nav a .link-icon {
  width: 20px;
}

kbd {
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px #00000033, 0 2px 0 0 #ffffffb3 inset;
  color: #333;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

code {
  padding: 2px 4px;
  background-color: #383838;
  border-radius: 4px;
}

.title {
  margin-bottom: 0;
  font-size: 3em;
  font-family: var(--display-font);
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: lighter;
  color: var(--secondary-fg);
}
.subtitle a {
  color: var(--secondary-fg);
  font-weight: lighter;
}

.self-link {
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.self-link:hover {
  background-color: #70dd5580;
}

.screenshot {
  margin: 10px;
  max-width: 95%;
  max-height: 70vh;
  align-self: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.screenshot-with-description {
  align-self: center;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  overflow: hidden;
}
.screenshot-with-description img {
  max-width: 100%;
  max-height: 70vh;
}
.screenshot-with-description p {
  margin: 0 0 0 10px;
  font-size: 0.8em;
  font-weight: lighter;
  color: var(--secondary-fg);
}
.screenshot-with-description ul {
  margin: 0 0 0 10px;
  padding-left: 5px;
  list-style-type: none;
  font-size: 0.8em;
}
.screenshot-with-description ul a {
  text-decoration: underline;
  font-weight: lighter;
  color: var(--secondary-fg);
}

.editor-defined-name {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  line-height: normal;
  color: var(--olive-green);
  background-color: #212121;
  border-radius: 8px;
}

.copyright-notice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px 0 10px;
  font-size: 0.8em;
  text-align: center;
}
@media screen and (max-width: 458px) {
  .copyright-notice {
    flex-direction: column;
    align-items: center;
  }
}
.copyright-notice img {
  height: 35px;
}
.copyright-notice p {
  margin: 0;
  display: flex;
  align-items: center;
}

#toc {
  margin-left: 20px;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #1a1a1a;
  border-radius: 18px;
}
#toc ol {
  padding-left: 20px;
}

html {
  visibility: visible;
  opacity: 1;
}